{% extends "layouts/layout.html" %}

{% block title %}Image Color Picker{% endblock %}

{% block content %}

      <div class="container mx-auto  py-10">
          <div class="">
              <div class="flex justify-left items-center  text-gray-600 text-2xl">
                      <a href="/"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 hover:text-gray-950 transition ease-in-out">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                        </svg>
                      </a>
                    <span class="mx-4 ">
                         /
                    </span>
                  <a href="/color" class="hover:text-gray-950 transition ease-in-out">
                      Image Color Picker
                  </a>
              </div>
              <div class="mt-5">
                     <h1 class="text-gray-900 text-9xl dark:text-white my-9 ">Image Color Picker</h1>
                 <span class="text-4xl">Create custom color palettes from any image with our color picker. Upload an image or select from our gallery for inspiring color schemes.</span>
              </div>
          </div>
          <section class="grid gap-8 md:grid-cols-12 mt-10">
                              {% include "layouts/dragdrop.html" %}

          </section>


    </div>

{% endblock %}
